# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
max_line_length = 160
indent_style = space
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true
end_of_line = crlf
insert_final_newline = true

[*.kts]
tab_width = 2

[*.{java,kt}]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_imports_layout = *,|,javax.**,java.**,|,$*
ij_java_layout_static_imports_separately = true
ij_java_align_multiline_chained_methods = false
ij_java_blank_lines_before_package = 0
ij_java_blank_lines_after_package = 1
ij_java_keep_simple_classes_in_one_line = true
ij_java_keep_simple_methods_in_one_line = true
ij_java_keep_simple_blocks_in_one_line = true
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_before_class_end = 1

[*.xml]
tab_width = 2

[*.xsd]
tab_width = 2

[*.json]
tab_width = 2

[*.{yml,yaml}]
tab_width = 2

[*.groovy]
tab_width = 2

[*.jrxml]
indent_style = tab
tab_width = 4
